
    /* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width:  /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {}
header h1 {}
header img {}
header .subheading {}
.responsive{
        width: 100%;
        height: 80%;
  position: relative;
}
.hero-text{ color: whitesmoke;
top:95%;
  position: absolute;
left:12%;}
header img.logo {float: left; } 
.logo{width: 7%; height 7%;}
nav {
    background-color: #ccc;
    font-family:sans-serif
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav ul {
list-style-type: none;
    padding: 0;
    margin: 0;
   
    
}
nav ul li {}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3);
    
}
nav ul li.active a {}
nav ul li a:hover {background-color: (0,0,0,0.5);
    
}

.highlow{
    float: left;
}
.current{
    float:right;
    text-align: center;
}

.conditions{
    clear: left;
}
table{
    border: 1px solid purple;
}
td, th{
    border: 1px solid purple;
    text-align: center;
}

article img{
    float:right;
}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }
    .forecast{
        display: none;
    }
footer { 
    background-color: #92a8d1;
 text-align: center;
    margin-top: 20%;
}  
.clearfix:after {
    content: ""; 
    display: table;
    clear: both;
}     
        
