
    /* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  ____________  /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: ______; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {}
header h1 {}
header img {}
header .subheading {}
.responsive{
        width: 100%;
        height: 80%;
  position: relative;
}
.hero-text{ color: whitesmoke;
top:95%;
  position: absolute;
left:12%;}
header img.logo {float: left; } 
.logo{width: 10%; height 10%;}
nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

.current{
    float:right;
    text-align: center;
}
table{
    border: 5px solid purple;
}
td, th{
    border: 3px solid purple;
    text-align: center;
}

article img{
    float:right;
}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }
    .forecast{
        display: none;
    }
footer {background-color: #92a8d1;
        
}