/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color:;
}

h1 {
    font-size: .5rem /;
    color:  gold;
    background-color: darkviolet;
}

h2 {
    font-size: 1.5rem ;
       text-align: center;
    color:  darkviolet;    
    border-bottom: 1px solid #6f07bb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: auto;
}

header, footer, footer a {
    text-align: center;
    background-color: darkviolet;
    color: gold;
}

header img {
   /* width: auto;
    height: auto; */
    float: right;
}

main img{
    float: right;
}

footer {
    clear:both;
    font-size: 1rem;
}